#appClient{
    #content{
        background-color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 4px;
        box-shadow: 0px 0px 4px #e9e9e9;

        .button-add{
            @include button(140px, 15px, #3f4449, #ffffff, 6px 0px);  
            margin: 27px 0px 0px;
        }

    }
}