$block : '.dashboard';

#{$block}{
  
  h1 {
    background-color: $new-dark-grey;
    font-size: 22px;
    margin: 0 0 1px;
    padding: 20px 20px 20px 70px;
    border-bottom: 1px solid $new-dark-grey;
    color: #ffffff;
    font-weight: 700;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

  }

  h2{
    font-size: 16px;
    color: $new-blue;
    display: inline-block;
    margin: 20px 0;
    font-family: $avenir-bold;

  }

  label{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 0;
    
    @include respond-between(md,lg) {
      font-size: 13px;
    }

    @include respond-below(sm) {
      font-size: 13px;
    } 

  }

  p{
    font-family: $avenir-bold;
    font-size: 16px;
    line-height: 16px;
    margin: 5px 0;

    span{
      font-family: $avenir-normal;
    }

    &.google-text{
        line-height: 1.5;
        margin: 20px 0;
        font-family: $avenir-medium;
    }
  }

  textarea{
    width: 100%;
    min-height: 206px;
  }
  
  .attacks{
    padding-bottom: 30px;
  }

  .flags-container{
    label{
      line-height: 30px;
    }
  }
  
  .pluginRow{    
    &.pluginInactive > *{
      text-decoration: line-through;
    }  
  }


  

  .table {
    .row{
      padding: 12px 0;
    }
    .row:nth-child(2n+1){
        background-color: #fafafa
    }
  }

  .visits{
    padding: 25px 15px;
  }

  .averages{
    padding: 25px 15px;
  }

  .days{
        p{  
            font-family: $avenir-normal;
            font-size: 14px;

            span {
              background-color: #d6dee3;
              border-radius: 50px;
              width: 20px;
              height: 20px;
              text-align: center;
              display: inline-block;
              line-height: 21px;

            }
        }

      @include respond-below(sm) {
        margin: 0 auto;
        float: none;
      }   
  }

  .visitors{
      p{
        font-size: 14px;
          &.returning{
            color: #008f72;  
          }
          &.new{
            color: #136881;
          }
      }

      @include respond-below(sm) {
        text-align: center;
      } 
  }

  .bullet {
    width: 10px;
    height:10px;
    display: inline-block;
    border-radius: 45px;

    &.green{
      background-color: #008f72;  
    }

    &.blue{
      background-color: #136881;
    }
  }

  
  .bg{
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: 20px;
  }
  .status{
    background-image: url('../img/dashboard/icon-titles/icon-update-status.svg');
  }
  
  .metrics{
    background-image: url('../img/dashboard/icon-titles/icon-website-metrics.svg');
  }

  .security{
    background-image: url('../img/dashboard/icon-titles/icon-website-security.svg');
  }

  .code{
    background-image: url('../img/dashboard/icon-titles/icon-websit-code-status.svg'); 
  }

  .comments{
    background-image: url('../img/dashboard/icon-titles/icon-comments.svg'); 
  }

  .traffic{
    background-image: url('../img/dashboard/icon-titles/icon-website-traffic.svg');  
  }

  .calendar{
    position: absolute;
    top: 34px;
    font-size: 16px;
    color: $new-blue;
    left: 0;
    right: 0;
    @include respond-below(md) {
      left: 24px;
      right: auto;
    } 
    
    @include respond-below(sm) {
      left: 0;
      right: 0;
    } 

    span {
      font-family: $avenir-bold;
      line-height: 22px;
    }
    
  }
  .calendar-img{
    max-width: 87px;
    margin: 10px 0;
  }

  .laptop{
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    font-size: 36px;
    color: #ffffff;
    color: $new-blue;

   /* @include respond-between(sm,lg) {
      font-size: 24px;
      left: 37%;
    } 

    @include respond-below(sm) {
      left: 37%;
    } */
    
  }
  .laptop-img{
    max-width: 112px;
  }

  .clock{
    position: absolute;
    top: 52px;
    color: $new-blue;
    left: 0;
    right: 0;
    font-size: 20px;
    color: #000000;
    color: $new-blue;

    /*@include respond-between(md,lg) {
      transform: translateY(-350%);
      font-size: 24px;
    } 

    @include respond-below(sm) {
      top:0;
      transform: translateY(0%);
      margin-top: 10px;
    } */

    
  }
  .clock-img{
    max-width: 92px;
  }

  .os, .browser, .device{
    padding: 10px 0;
    label{
      margin-bottom: 10px;
    }
  }


  .os-img{
    max-width: 25px;
  }
  .browser-img{
    max-width: 30px;
  }

  .device-img{
    max-width: 46px;

    &.tablet{
      max-width: 22px;
    }

    &.mobile{
      max-width: 16px;
    }
  }

}

.print-section{
    .btn-file{
        background-color: $new-dark-grey;
        float: right;
        margin-bottom: 20px;
    }
}

@media print {
    .hidden-print{
        display: none !important;
    }
    
    .check-small {
       max-width: 16px !important;
    }

    .header {
       img {
            max-width: 100px !important;
       }
    }    

   .preheader {
        img {
            max-width: 250px !important;
            margin: 0;
        }

       .minilogo {
            img{
                max-width: 25px !important;
            }    
       }
   }

   .dashboard {
        .os-img {
            max-width: 25px !important; 
        }

        .browser-img{
            max-width: 30px !important; 
        }

        .device-img.mobile{
            max-width: 16px !important;
        }

        .device-img {
            max-width: 46px !important;
        }

        .device-img.tablet {
            max-width: 22px !important;
        }

        .laptop-img {
            max-width: 112px !important;
        }

        .clock-img {
            max-width: 92px !important;
        }

        .check {
            max-width: 30px !important;
        }

        h1 {
          border: 1px solid #000;  
        }

        .table .row{
            border-bottom: 1px solid #000;
        }

        .metrics{
            margin-top: 100px;
        }

        .img-container.left {
            text-align: left;
        }

        .calendar {
            left: 24px;
            right: auto;
        }

    }

    .footer img {
        max-width: 250px !important;
    }

    #appGoogleAnalytics{
        .col-sm-6 {
            width: 50% !important;
            float: left !important;
        }

        .col-sm-4{
                width: 33.33333333% !important;
                float: left !important;
        }

        .visitors{
            text-align: left !important;
        }


    }
}