$block : '.login';


#{$block}{
  color: $gray;

  
  h1{
    color: $dark-gray;
  }
  
  h2{
    color: $gray;
  }

  a{
    color: $main-blue;
  }

  .header {
    img {
      max-width: 250px;
      margin: 10px 0;
    }
  }

  .logo{
      img{
        margin:0 auto;
        max-width: 250px;
      }
  } 

  
  .login-form{
    padding: 100px 0; 
    @include respond-below(sm) {
      padding: 50px 0; 
    }

    &.email{
      .logo{
          img{
            margin:0 auto;
            max-width: 250px;
          }    
      }

      .button-green{
        @include button(300px, 16px, $brand-success, #ffffff, 12px 0);

        @include respond-below(xs) {
          @include button(100%, 16px, $brand-success, #ffffff, 12px 0);
        }
      }
    } 

    .row-eq-height-container{
          display: flex;
          flex-flow: row wrap; 
          align-items: center;

      &::before {
          display: block;
      }
    }
  }

  form{
    margin-top: 30px;

    input[type="email"],input[type="password"]{
      margin: 10px 0;
      background-repeat: no-repeat;
      background-size: 16px auto;
      background-position: 20px center;
      padding: 10px 10px 10px 50px;
    }

    input[type="email"]{
      background-image: url('../img/dashboard/login/icon-user.svg');
    }

    input[type="password"]{
      background-image: url('../img/dashboard/login/icon-pass.svg');
    }
  }



}