#appReport{
    .report-section{
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0px 0px 4px #e9e9e9;
        padding-bottom: 20px;
        margin-bottom: 30px;
        
        .title{
            background-color: $new-light-blue;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            margin-bottom: 20px;
            
            h1{
                font-family: 'Montserrat', sans-serif;
                font-size: 25px;
                margin: 12px 0px;
                color: #fff;
            }   
        }

        table{

            td{
                &.plugin-name{
                    padding: 10px 0px 10px 15px;
                }
                &.plugin-options{
                    padding-right: 15px;
                }
                &.plugin-version{
                    padding: 10px 15px;
                }
            }
            
            @include respond-below(md) {
                td{
                    &.responsive{
                        display: block;
                        width: 100%;   
                    }
                    &.p-t-15{
                        padding-top: 15px;
                    }
                }
            }
        }

        .vdp-datepicker{
            input{
                display: block;
                width: 100%;
                height: 36px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.6;
                color: #636363;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccd0d2;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
                transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
                transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
            }
        }
    }

    .button-create{
        @include button(100px, 15px, #3f4449, #ffffff, 7px 0px);  
        margin: 0px;
    }

    .button-add{
        @include button(100px, 15px, $new-green, #ffffff, 7px 0px);
        margin: 0px;
    }

    .button-remove{
        @include button(100px, 15px, $new-red, #ffffff, 7px 0px);  
        margin: 0px;
    }

    .icon-img{
        max-width: 50px;
    }
}