<template>
    <div class="agency-information">
      <div class="row" >
          <div class="col-md-7 col-lg-7 clearfix">
              <div class="logo pull-left">
                  <img :src="'uploads/'+logo" :alt="name" class="img-responsive">
              </div>
              <div class="name pull-left">
                  <h4>{{ name }}</h4>
              </div>
          </div>
          <div class="col-sm-6 col-md-2 col-lg-2">
              <div class="row">
                  <div class="col-xs-12">
                      <a :href="'/agency/'+id">
                          <div class="client-info">
                              {{ users }} <br class="hidden-xs hidden-sm">
                              Users
                          </div>
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="col-xs-6">
                  <a class="edit" :href="'/agency/'+id+'/edit'">Edit</a>
              </div>
              <div class="col-xs-6">
                  <a class="delete" href="" @click.prevent="deleteagency(id, name)">Delete</a>
              </div>
          </div>
      </div>
      <client-information
        v-for="client in clients"
        :key="client.id"
        :id="client.id"
        :logo="client.logo"
        :name="client.name"
        :site="client.site"
        :users="client.users"
        :reports="client.reports"
        @deleteclient="deleteclient"
    ></client-information>
    </div>
</template>

<script>
import ClientInformation from './ClientInformation';
export default {

    props: ['id', 'logo', 'name', 'site', 'users', 'count'],

    components: { 
        ClientInformation,
    },

    data(){
      return {
        clients: null,

      }
    },

    mounted() {
      this.get(this.id);
    },

    methods: {
      get(agency_id){
        console.log("clients");
          axios.get('/client/information/'+agency_id)
          .then( (response) => {
            console.log(response.data);
            this.clients = response.data;
          })
          .catch( (error) => console.log(error) );
      },

      deleteagency(id, name){
          this.$emit('deleteagency', id, name);
      },

      deleteclient(id, name){
          this.$emit('deleteclientagency', id, name);
      },
    },

    watch: {
      count() {
        this.get(this.id);
      }
    }
}
</script>