<template>
    <div id="agencyModal" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Agency</h4>
                </div>
                <div id="appAgency" class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="POST" @submit.prevent="onSubmit" @keydown="form_agency.errors.clear($event.target.name)">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="" class="form-control" name="name"  v-model="form_agency.name">
                                    <span class="help is-danger" v-if="form_agency.errors.has('name')" v-text="form_agency.errors.get('name')"></span>
                                </div>
                                <div class="form-group">
                                    <label>Subdomain:</label>
                                    <input type="" class="form-control" name="subdomain"  v-model="form_agency.subdomain">
                                    <span class="help is-danger" v-if="form_agency.errors.has('subdomain')" v-text="form_agency.errors.get('subdomain')"></span>
                                </div>
                                <div class="form-group">
                                    <label>Address:</label>
                                        <input type="" class="form-control" name="address"  v-model="form_agency.address">
                                        <span class="help is-danger" v-if="form_agency.errors.has('address')" v-text="form_agency.errors.get('address')"></span>
                                </div>
                                <div class="form-group">
                                    <label>Website:</label>
                                    <input type="" class="form-control" name="site"  v-model="form_agency.site">
                                    <span class="help is-danger" v-if="form_agency.errors.has('site')" v-text="form_agency.errors.get('site')"></span>
                                </div>
                                <div class="form-group">
                                    <label>Logo</label>
                                    <label class="btn-file">
                                    Browse... <input type="file" class="form-control" name="file"  ref="file"  v-on:change="previewFile" v-on:click="form_agency.errors.clear($event.target.name)">
                                    </label>
                                    <span class="help is-danger" v-if="form_agency.errors.has('file')" v-text="form_agency.errors.get('file')"></span>
                                    <img class="preview img-responsive" :src="form_agency.file" v-if="form_agency.file">
                                </div>
                                <button class="button-submit is-primary" v-bind:disabled="form_agency.errors.any()">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import Form from '../../core/Form';
export default {

    data () {
      return {
        form_agency: new Form({
          name: '',
          file: '',
          address: '',
          site: '',
          subdomain: '',
        }),
      };
    },

    methods: {
      previewFile(){
          console.log(this.$refs.file.files[0]);

          let reader = new FileReader();
          let vm = this;
          reader.onload = (e) => {
              vm.form_agency.file = e.target.result;
          };
          reader.readAsDataURL(this.$refs.file.files[0]);

          //console.log(reader);
      },



      onSubmit() {
        this.form_agency.submit('post', '/agency')
        .then(response => {
          /*console.log(response);*/
          this.$emit("updateagency", response.id);
          $('#agencyModal').modal('hide');


        } )
        .catch(errors => console.log(errors));
      },
    }

}
</script>

<style lang="scss">
</style>