<template>
    <div class="row client-information">
        <div class="col-md-7 col-lg-7 clearfix">
            <div class="logo pull-left">
                <img :src="'uploads/'+logo" :alt="name" class="img-responsive">
            </div>
            <div class="name pull-left">
                <h4>{{ name }}</h4>
                <h5>{{ site }}</h5>
            </div>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
            <div class="row">
                <div class="col-xs-6">
                    <a :href="'/client/'+id">
                        <div class="client-info">
                            {{ users }} <br class="hidden-xs hidden-sm">
                            Users
                        </div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a :href="'/report/list/'+id">
                        <div class="client-info">
                            {{ reports }} <br class="hidden-xs hidden-sm">
                            Reports
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="row">
                <div class="col-xs-6">
                    <a class="edit" :href="'/client/'+id+'/edit'">Edit</a>
                </div>
                <div class="col-xs-6">
                    <a class="delete" href="" @click.prevent="deleteclient(id, name)">Delete</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {

    props: ['id', 'logo', 'name', 'site', 'users', 'reports'],

    mounted() {

    },

    methods: {
        deleteclient(id, name){
            this.$emit('deleteclient', id, name);
        }
    }
}
</script>

<style lang="scss">
</style>