<template>
<!-- Confirm modal -->
<div id="confirmModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p v-html="text"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default" @click.prevent="confirm">{{ button }}</button>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>

export default {

    props: ['title', 'text', 'button', 'type'],

    methods: {
      confirm() {
        this.$emit('confirm', this.type);
        $('#confirmModal').modal('hide');
      }
    }

}
</script>