<template>
    <div class="row user-information">
        <div class="col-sm-6 col-md-7 col-lg-8">
            <div class="row">
                <div class="col-md-4">
                    <h5>{{ month }} {{ year }}</h5>
                </div>
                <div class="col-md-8">
                    <p>{{ start }} - {{ end }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4">
            <div class="row">
                <div class="col-xs-4">
                    <a :href="'/' + subdomain + '/period/show/' + id" class="show">Show</a>
                </div>
                <!--<div class="col-xs-4">
                    <a :href="'/period/'+id+'/edit'" class="edit">Edit</a>
                </div>
                <div class="col-xs-4">
                    <a href="" class="delete" @click.prevent="del()">Delete</a>
                </div>-->
            </div>
        </div>
    </div>
</template>

<script>

export default {

    props: ['id', 'month', 'year', 'start', 'end', 'subdomain'],

    mounted() {

    },

    methods: {
    }
}
</script>
