<template>
    <div class="row user-information">
        <div class="col-sm-6 col-md-6 col-lg-7">
                <div class="col-md-4">
                    <h5>{{ month }} {{ year }}</h5>
                </div>
                <div class="col-md-8">
                    <p>{{ start }} - {{ end }}</p>
                </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-5">
            <div class="col-xs-3">
                <a :href="'/period/show/'+id" class="show">Show</a>
            </div>
            <div class="col-xs-3">
                <a :href="'/period/'+id+'/edit'" class="edit">Edit</a>
            </div>
            <div class="col-xs-3">
                <a href="" class="delete" @click.prevent="del()">Delete</a>
            </div>
            <div class="col-xs-3" v-if="issues != 'show'">
                <a @click.prevent="reset()" class="show">Reset</a>
            </div>
        </div>
    </div>
</template>

<script>

export default {

    props: ['id', 'month', 'year', 'start', 'end', 'issues'],

    mounted() {

    },

    methods: {
        del(){
            this.$emit('del', this.id, this.month, this.year);
        },

        reset(){
            this.$emit('reset', this.id);
        }
    }
}
</script>

<style lang="sass">
</style>