<template>
<!-- Plugin modal -->
<div id="pluginModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Plugin</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form method="POST" @submit.prevent="plugin_form_submit" @keydown="plugin_form.errors.clear($event.target.name)">
                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text" class="form-control" name="name" v-model="plugin_form.name">
                                <span class="help is-danger" v-if="plugin_form.errors.has('name')" v-text="plugin_form.errors.get('name')"></span>
                            </div>
                            <button class="button-submit" v-bind:disabled="plugin_form.errors.any()">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>

import Form from '../../core/Form';
export default {

    data () {
      return {
        plugin_form: new Form({
          name: '',
        }),
      };
    },

    methods: {


      plugin_form_submit() {
        this.plugin_form.submit('post', '/plugin')
        .then(data => {
          this.$emit("updateplugin", data);
          $('#pluginModal').modal('hide');
        })
        .catch(errors => console.log(errors));
      },
    }
}
</script>
