<template>
    <div class="row user-information">
        <div class="col-sm-6 col-md-9 col-lg-9">
            <div class="row">
                <div class="col-md-4">
                    <h5>{{ name }} {{ lastname }}</h5>
                </div>
                <div class="col-md-8">
                    <p class="email">{{ email }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="row">
                <div class="col-xs-6">
                    <a href="" class="edit" @click.prevent="edit(id)">Edit</a>
                </div>
                <div class="col-xs-6">
                    <a href="" class="delete" @click.prevent="del(id, email)">Delete</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {

    props: ['id', 'name', 'lastname', 'email'],

    mounted() {

    },

    methods: {
        edit(id){
            this.$emit('edit', this.id);
        },

        del(id, email){
            this.$emit('del', this.id, this.email);
        }
    }
}
</script>

<style lang="sass">
</style>