<template>
    <div id="userModal" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 v-if="this.edit" class="modal-title">Edit User</h4><h4 v-else class="modal-title">New User</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <form method="POST" @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)">
                              <div class="form-group">
                                <label>Name:</label>
                                <input type="text" class="form-control" name="name"  v-model="form.name">
                                <span class="is-danger" v-if="form.errors.has('name')" v-text="form.errors.get('name')"></span>
                              </div>
                              <div class="form-group">
                                <label>Lastname:</label>
                                <input type="text" class="form-control" name="lastname"  v-model="form.lastname">
                                <span class="is-danger" v-if="form.errors.has('lastname')" v-text="form.errors.get('lastname')"></span>
                              </div>
                              <div class="form-group">
                                <label>Email:</label>
                                <input type="email" class="form-control" name="email"  v-model="form.email">
                                <span class="help is-danger" v-if="form.errors.has('email')" v-text="form.errors.get('email')"></span>
                              </div>
                              <div class="form-group">
                                <label>Password:</label>
                                <input type="password" class="form-control" name="password"  v-model="form.password">
                                <span class="help is-danger" v-if="form.errors.has('password')" v-text="form.errors.get('password')"></span>
                              </div>
                              <div class="form-group">
                                <label>Password Confirm:</label>
                                <input type="password" class="form-control" name="password_confirmation"  v-model="form.password_confirmation">
                                <span class="help is-danger" v-if="form.errors.has('password_confirmation')" v-text="form.errors.get('password_confirmation')"></span>
                              </div>

                              <button v-if="this.edit" class="button-submit" v-bind:disabled="form.errors.any()">Update</button>
                              <button v-else class="button-submit" v-bind:disabled="form.errors.any()">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Form from '../../core/Form';

export default {
    props: ['id', 'edit', 'info'],

    data: function () {
        return {
            form: new Form({
              name: '',
              lastname: '',
              email: '',
              password: '',
              password_confirmation: '',
              client_id: this.id,
              user_id: this.edit
            })
        }
    },

    mounted(){
        
    },

    methods: {

        onSubmit() {
            if(this.edit == 0){
                this.form.submit('post', '/user')
                .then(data =>{
                    this.$emit('update');
                    $('#userModal').modal('hide');
                })
                .catch(errors => console.log(errors));
            }else{
                this.form.submit('put', '/user/'+this.edit)
                .then(data =>{
                    this.$emit('update');
                    $('#userModal').modal('hide');
                })
                .catch(errors => console.log(errors));
            }
            
        },
    },

    computed: {
        changeClient() {
            return this.form.client_id;
        },

        editStatus(){
            return this.edit;
        }
    },

    watch: {
        changeClient(){
            this.form.client_id = this.id;
        },

        editStatus(){
            if(this.edit != 0){
                this.form.name = this.info.name;
                this.form.lastname = this.info.lastname;
                this.form.email = this.info.email;
                this.form.user_id = this.edit;
            }else{
                this.form.name = this.form.lastname = this.form.email = this.form.user_id = '';
            }
        }
    },

}
</script>

<style lang="scss">
</style>