<template>
  <div>
  </div>  
</template>

<script>
export default {
    props: ['client', 'period', 'subdomain', 'agency'],

    data () {
      return {
        client_id: this.client,
        period_id: this.period,
        subdomain_id: this.subdomain,
        agency_id: this.agency,
      };
    },

    mounted() {
      this.getClient();
      this.getPeriod();
      this.getSubdomain();
      this.getAgency();
    }, 

    methods: {

      getClient(){
        this.$emit('setclient', this.client_id);
      },

      getPeriod(){
        this.$emit('setperiod', this.period_id);
      },

      getSubdomain(){
        this.$emit('setsubdomain', this.subdomain_id);
      },

      getAgency(){
        this.$emit('setagency', this.agency_id);
      }
    }

}
</script>