<template>
    <div id="issueModal" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <p>{{ message }}</p>
                    <button type="button" data-dismiss="modal" class="btn pull-right">OK</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['message'],

}
</script>

<style lang="scss" scoped>
    p{
        color: #b81007;
        font-weight: 500;
        margin: 15px 0px 15px;
        line-height: 22px;
    }

    button,{
        background-color: #4688f1;
        border-color: #4688f1;
        color: #ffffff;
        padding: 4px 25px;
        
        &:hover{
            background-color: #5391f3;
            border-color: #5391f3;
            color: #ffffff;
        }
    }
</style>