body{
  background-color: #f3f3f3;
}

a {
  color: $main-blue;
}

[v-cloak] > * { display:none; }
[v-cloak]::before { 
  content: " ";
  display: block;
  width: 100%;
  height: 128px;
  background-image: url('../img/loader.gif');
  background-position: 50%;
  background-repeat: no-repeat;
}

.font-20{
  font-size: 20px !important;
}

.font-24{
  font-size: 24px !important;
}

.font-14{
  font-size: 14px !important;
}

.gray{
  color: $new-light-grey !important;
}

.blue{
  color: $new-blue !important;
  font-family: $avenir-bold !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.is-danger, .conflict{

  color: $new-red;
}

.success{
  color: $brand-success;
}

.circle{
  border-radius: 20px;
  color: #ffffff;
  display: block;
  font-family: $avenir-bold;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  
  @include respond-between(md,lg) {
    width: 35%;
  }

  
  &.is-danger{
    background-color: $new-red;
  }

  &.success{
    background-color: $brand-success;  
  }
}


.bold{
  font-family: $avenir-bold !important;
}

.ipad-100{

  @include respond-between(md,lg) {
    width: 100%;
    right: 0;
    left: 0;
  }
}

.underline{
    text-decoration: underline;

    @include respond-below(xs) {
      display: block;
    } 
}

.not-underline, .not-underline:hover{
    text-decoration: none !important;
}

.block{
  display: block;
}

.img-container{
  position: relative;
  text-align: center;

  &.left{
    text-align: left;
    
    @include respond-between(md,lg) {
      text-align: center;
    }
    @include respond-below(sm) {
      text-align: center;
    }

  }

  label{
    color: $main-blue;
    display: block;
  }

}

.box-container {
  padding: 20px;
  background-color: $box-container-color;
  margin: 20px;
  box-shadow: 0px 0px 16px #b7bfc1;
}

.white-box{
  padding: 20px 0;
}

.content {
  padding:  10px 0 20px;
}

.row-eq-height-container{
      display: flex;
      flex-flow: row wrap; 
      align-items: center;

  &::before {
      display: block;
  }
}

.company-info p{
  font-size: 14px;
  color: $new-light-grey;
  text-align: right;
  margin: 0;

  @include respond-below(sm) {
    text-align: center;
  }

  a {
    color: $main-blue;
  }
}


.preview{
  max-width: 250px;
  height: auto;
}

.container-section{
  padding: 10px 15px;
  background-color: #ffffff;
  margin-bottom: 30px;
  
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.no-padding{
  padding: 0 !important;
}

.no-padding-left{
  padding-left: 0 !important;
}

.no-padding-right{
  padding-right: 0 !important;
}

.no-padding-top, .noPaddingTop{
  padding-top: 0 !important;
}

.no-padding-bottom{
  padding-bottom: 0 !important;
}

.no-margin-bottom{
  margin-bottom: 0 !important;
}

.no-margin-sides{
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.padding-left-mobile{
    @include respond-below(sm) {
        padding-left: 15px !important;
    }
}

.divider{
  height: 1px;
  background-color: $light-gray;
  width: 100%;
}

.check{
    margin-top: 10px;
    max-width: 30px;
  }

.check-small{
    max-width: 16px;
  }

.button-red {
  @include button(100%, 16px, #e30303, #ffffff, 12px 0);
}

.button-blue {
  @include button(100%, 16px, $main-blue, #ffffff, 12px 0);
}

.button-aprove{
  @include button(100%, 16px, $brand-success, #ffffff, 12px 10px);  
}

.button-yellow {
  @include button(100%, 16px, $yellow, $gray, 12px 0);
}

.button-blue-contact {
  @include button(172px, 16px, $main-blue, #ffffff, 12px 0);
}


.button-green {
  @include button(100%, 16px, $brand-success, #ffffff, 12px 0);

  @include respond-below(xs) {
    @include button(100%, 16px, $brand-success, #ffffff, 12px 0);
  }
}

.footer{
    padding: 60px 0;
    background-color: $new-footer-bg;
    img{
        max-width: 250px;
        @include respond-below(sm) {
            margin: 0 auto 20px;
        }
    }
}



body.admin{
    background-color: $new-body-bg;
    padding-bottom: 30px;
}

h5.subtitle{
    font-family: 'Montserrat', sans-serif;
    color: $new-blue;
    font-size: 16px;
    margin: 10px 0px;
}

.button-submit{
    @include button(150px, 15px, $new-green, #ffffff, 7px 0px);
    margin: 0;
}

img.preview{
    margin: 20px 0;
    max-height: 200px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    @include button(140px, 15px, #3f4449, #ffffff, 6px 0px);
    margin: 0;
    
    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}