$admin-header : '#header';

#{$admin-header}{
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;

   h3{
       margin: 0px;
       font-size: 34px;
       line-height: 38px;
       color: $new-blue;
       
       span{
           color: $new-light-blue;
           font-size: 20px;
           line-height: 22px;
       }
       
       @include respond-below(md) {
            font-size: 28px;
            line-height: 30px;
            margin-bottom: 20px;
       }
   }

   .button-back{
       color: $new-light-blue;
       text-decoration: none;
        margin-bottom: 15px;
        display: inline-block;
       &:hover{
           color: ($new-light-blue)+20;
       }
   }

   .button-add{
        @include button(140px, 15px, #3f4449, #ffffff, 7px 0px);  
        margin: 0;
    }
}

#client-header{
    background-color: $new-light-blue;
    h3{
        color: #fff;
        margin: 10px 0px;
        font-size: 24px;
    }
}