@mixin button($width, $font, $bgcolor, $fontcolor, $padding...) {
  width: $width;
  border-radius: 0.5rem;
  display: block;
  text-align: center;
  padding: $padding;
  font-size: $font;
  font-weight: 700;
  color: $fontcolor;
  margin: 8px auto;
  background-color: transparent;
  cursor: pointer;
  background-color: $bgcolor;
  border: none;
    &:hover, &:active, &:focus{
        text-decoration: none;
        color: $fontcolor;
        background-color: $bgcolor+15;
    }

}