.client-information {
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #e9e9e9;
    
    &.row{
      background-color: #ffffff; 
    }
    
    .row{
      background-color: #ffffff; 
    }

    a:hover{
        text-decoration: none;
    }
    
    .logo{
        padding: 20px 0px 0;
        margin-right: 15px;
        width: 200px;
        img{
            max-height: 100px;
            display: block;
            margin: 0 auto;
        }
        @include respond-below(sm) {
            width: 100%;
        }
    }
    .name{
        h4{
            margin-top: 42px;
            font-size: 24px;
            color: $new-blue; 
        }
        h5{
            margin-bottom: 42px;
            font-size: 18px;
            font-weight: 300;
            color: $new-light-grey;
        }
        @include respond-below(sm) {
            h4{
                font-size: 25px;
                margin-top: 25px;
            }
            h5{
                font-size: 20px;
                margin-bottom: 15px;
            }
        }
    }

    .client-info{
        margin-top: 42px;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        text-align: center;
        color: #028e71;
        @include respond-below(md) {
            margin-top: 0px;
        }

    }

    a{
        &.edit{
            @include button(100%, 15px, $new-green, #ffffff, 7px 0px);    
        }
        &.delete{
            @include button(100%, 15px, $new-red, #ffffff, 7px 0px);
        }
        &.edit, &.delete{
            margin: 50px auto 20px;  
            @include respond-below(md) {
                margin-top: 0px;
            }
        }
    }
}