$preblock : '.preheader';
$block : '.header';

#{$preblock}{
  background-color: $main-blue;
  color: #ffffff;
  padding: 10px 0;

  @include respond-below(xs) {
    text-align: center;

    .col-xs-12{
      margin: 3px 0;
      padding: 0;
    }
  } 

  p{
    font-size: 17px;
    margin: 0;
  }

  a {
      color: #ffffff;
      text-decoration: underline;
  }

  img{
    max-width: 250px;
    margin: 0;
  }


  .minilogo{
    background-color: #ffffff;
    border-radius: 25px;
    width: 35px;
    height: 35px;
    text-align: center;
    margin: 0 auto;

    img{
      max-width: 25px;
      display: block;
      margin: 0 auto;
      padding: 5px 0;
    }

  }
}

#{$block}{
  padding-top:10px;

  h1{
    font-size: 24px;
    font-family: $avenir-bold;
    
    line-height: 20px;
    @include respond-below(sm) {
      font-size: 32px;
      text-align: center;
      line-height: 34px;
    } 
  }

  h2{
    font-size: 14px;
    font-weight: 700;
    color: $new-light-grey;
    line-height: 14px;
    margin: 0;

    @include respond-below(sm) {
      text-align: center;
    } 
    

    a{
      color: $new-light-grey;
    }
  }

  p{
    font-size: 16px;
    font-weight: 700;
    color: $gray;
  }

  label{
    color:$new-blue;
    font-family: $avenir-bold;
  }

  img {
    max-width: 100px;
    margin: 0 auto;
    display: block;
  }

  select{
    min-height: 40px;
    min-width: 200px;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    //background:#fff url(../img/arrow.png) repeat-x 0 0;
    padding: 5px 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f3f3+0,d9d9d9+100 */
    background: url(../img/arrow.png) repeat-x 0 0, $new-body-bg; /* Old browsers */
    background: url(../img/arrow.png) repeat-x 0 0, -moz-linear-gradient(top,  $new-body-bg 0%, #d9d9d9 100%); /* FF3.6-15 */
    background: url(../img/arrow.png) repeat-x 0 0, -webkit-linear-gradient(top,  $new-body-bg 0%,#d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
    background: url(../img/arrow.png) repeat-x 0 0, linear-gradient(to bottom,  $new-body-bg 0%,#d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( s-tartColorstr='$new-body-bg', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
    background-size: 10px auto, auto;
    background-repeat: no-repeat;
    background-position: 180px center, center;
    border-radius: 5px;
    font-family: $avenir-bold;
    margin-left: 20px;


  }

  select ::-ms-expand {
   display:none;
  }
  select:after{
      content:"";
      position:absolute;
      z-index:2;
      right:8px;
      top:50%;
      margin-top:-3px;
      height:0;
      width:0;
      border-top:6px solid #f99300;
      border-left:6px solid transparent;
      border-right:6px solid transparent;
      pointer-events:none;
  }
  
  .select-container{
    padding: 15px;
  }
}