.modal{
    &.blue{
        .modal-header{
            background-color: $new-light-blue;
        }    
    }
    &.red{
        .modal-header{
            background-color: $new-red;
        }    
    }
    &.green{
        .modal-header{
            background-color: $new-green;
        }    
    }
    
    .modal-content{
        border: none;

        .modal-header{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            
            h4{
                font-family: 'Montserrat', sans-serif;
                color: #fff;
                font-size: 20px;
            }

            button{
                color: #ffffff;
                opacity: 1;
                font-weight: 500;
            }
        }

        .modal-body{
            p{
                font-size: 17px;
            }
        }
    }
}