$navbar : '#navbar';

#{$navbar}{
    background-color: #e0e0e0;
    
    p{
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        font-size: 14px;
        line-height: 37px;
        color: $new-dark-grey;
        margin: 0;
        a{
            color: $new-blue;
            text-decoration: underline;
        }
    }

    img{
      max-width: 250px;
      margin: 10px 0;
    }
}