.user-information{
    background-color: #ffffff; 
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #e9e9e9;
    
    a:hover{
        text-decoration: none;
    }

    h5{
        margin: 24px 0px 0px;
        font-size: 18px;
        font-weight: 500;
        color: $new-blue;
    }

    p{
        margin: 21px 0px 10px;
        font-size: 16px;
        font-weight: 300;
        color: $new-light-grey;
        @include respond-below(md) {
            margin: 10px 0px 24px;
        }
        @include respond-below(sm) {
            margin-bottom: 15px;
        }
    }

    a{
        &.show{
            @include button(100px, 15px, $new-light-blue, #ffffff, 7px 0px);    
        }
        &.edit{
            @include button(100px, 15px, $new-green, #ffffff, 7px 0px);    
        }
        &.delete{
            @include button(100px, 15px, $new-red, #ffffff, 7px 0px);
        }
        &.edit, &.delete, &.show{
            margin: 15px auto;  
            @include respond-below(md) {
                margin-top: 32px;
            }
            @include respond-below(sm) {
                margin: 0px auto 24px;
                width: 100%;
                font-size: 12px;
            }
        }
    }
}